<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            Shop
          </div>
          <div class="col-12">
            <ul>
              @for (structure of available_structures; track $index) {
              <li>
                <div class="row">
                  <div class="col-3">
                    <img [src]="'assets/icons/structures/' + structure.stats.info.item_name + '.svg'" width="18" />
                    {{structure.stats.info.front_name}}
                  </div>
                  <div class="col-3">
                    {{structure.stats.base_cost.build}}g
                  </div>
                  <div class="col-2">
                    <button (click)="onBuyClick(structure)">
                      Buy
                    </button>
                  </div>
                </div>
              </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>