<nav>
  <ul>
    @for (resource_pair of resources_as_pair; track $index) {
    <li>{{resource_pair[0]}}: {{resource_pair[1]}}</li>
    }
    <li>Day: {{current_day}}</li>
  </ul>
</nav>
<main>
  <h3>Population</h3>
  <ul>
    @for (creature of population; track $index) {
    <li>
      <img [src]="'assets/icons/creatures/' + creature.race_name + '.svg'" width="20" />
      {{creature.name}}
    </li>
    }
  </ul>

  <h3>Structures</h3>
  <ul>
    @for (structure of structures; track $index) {
    <li>{{structure.name}}</li>
    }
  </ul>

  <app-shop />

  <button (click)="nextDay()">Next Day</button>
</main>